* {box-sizing: border-box; display: block;}
header {width: 100%; font: 175% #689F38 "Palatino Linotype"; font-variant: small-caps; text-align: center;} 
div {float: left; border: 1px solid; border-color: black;}
h2 {font-size: 125%;}
p {font-size: 100%;}
div.chicken {background-color: #DBDB70;}
h2.chicken {background-color:#8D6E63; font-color: white;}
