* {box-sizing: border-box; display: block; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
header {width: 100%; font: 175% #689F38; font-variant: small-caps; text-align: center;}
body {width: 100%;}
div {width: 30%; box-sizing: border-box; float: left; position: relative; margin: 10px; padding: 5px; border: 1px solid; border-color: #000000;}
h2 {font-size: 125%; font-color: #FFFFFF; border: 1px solid #000000; padding: 5px 15px; margin: 0; position: absolute;}
p {font-size: 100%; margin: 5%; text-align: justify;}
div.chicken {background-color: #DBDB70;}
h2.chicken {background-color: #8D6E63;}
div.beef {background-color:#D7CCC8;}
h2.beef {background-color: #757575;}
div.sushi {background-color:#00695C;}
h2.sushi {background-color:#880E4F;}
